/* articlesComponent's private CSS styles */
table {
    margin: 0 0 2em 0;
  }

.topLeftCell {
  cursor: pointer;
  border-top: 2px solid black;
}

.topRow {
  border-top: 2px solid black;
}

  td {
    text-align: left;
  }

  th {
    display: none;
  }

  .bad {
    background-color: #ffc2b3;
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    padding: 10px;
    font-size: larger;
  }

  .mediocre {
    background-color: #ffffb3;
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    padding: 10px;
    font-size: larger;
  }

  .good {
    background-color: #c2f0c2;
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    padding: 10px;
    font-size: larger;
  }

  .mat-cell-centered {
    text-align: center;
  }

  .articleLink {
    cursor: pointer;
  }

  .paginator {
    visibility: hidden;
  }