mat-list {
    width: 80%;
    height: 80%;
    padding: 10px;
}

mat-list-item {
    height: 150px !important;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow: hidden;
}

.matHeader {
    margin: 5px;
    align-self: flex-start;
    font-weight: bold;
    font-size: large;
}

.reviewText {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-anchor: start;
    margin: 5px;
}