  .editorialName {
    font-weight: bold;
    font-variant-caps: all-small-caps;
    font-size: x-large;
  }

.firstItemBorder {
  border-top-color: black;
  border-top-width: 2px;
  border-top-style: solid;
}

  mat-list-item:nth-child(odd) {
    background: #CCC;
  }

  mat-list-item:nth-child(odd):hover {
    background: #CCC;
  }

  mat-list-item:nth-child(even):hover {
    background: initial;
  }