  .editorialName {
    font-weight: bold;
    font-variant-caps: all-small-caps;
    font-size: x-large;
  }

  mat-list-item:nth-child(odd) {
    background: #CCC;
  }

  mat-list-item:nth-child(odd):hover {
    background: #CCC;
  }

  mat-list-item:nth-child(even):hover {
    background: initial;
  }