/* organizationsComponent's private CSS styles */
table {
  margin: 0 0 2em 0;
}

td {
  text-align: center;
}

.bad {
  background-color: #ffc2b3;
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  padding: 10px;
  font-size: larger;
}

.mediocre {
  background-color: #ffffb3;
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  padding: 10px;
  font-size: larger;
}

.good {
  background-color: #c2f0c2;
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  padding: 10px;
  font-size: larger;
}

.mat-cell-centered {
  text-align: center;
}

button {
  background-color: #eee;
  border: none;
  padding-block-start: 100px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  float: right;
  top: -32px;
  background-color: gray !important;
  color: white;
}

.organizationLink {
  cursor: pointer;
}

.paginator {
  visibility: hidden;
}