<div *ngIf="article">

    <div class="flex-container-vertical">
        <h2>Article Details</h2>

      <div class="section">
          <div class="label">Title: </div>
          <span>{{article.articleName}}</span>
      </div>

      <div class="section">
          <div class="label">Author: </div>
          <span>{{article.authorName}}</span>
      </div>

      <div class="section">
          <div class="label">Link: </div>
          <span><a href="{{article.articleLink}}">{{article.articleLink}}</a></span>
      </div>

        <div class = "section">
          <div class="label">Summary: </div>
          <span class="flex-container-vertical truncate">{{article.articleSummary}}</span>
        </div>
        
        <div class="section">
          <div class="label">Illumine Score: </div>
          <!--TODO: replace this score with an actual average/aggregate-->
          <div [ngClass]="{bad: (article.illumineScore < 40), 
                    good: (article.illumineScore > 59), 
                    mediocre: (article.illumineScore > 39 && article.illumineScore < 60)}">{{article.illumineScore}}
                    </div>
        </div>
      </div>

    <div class="flex-item" id="reviewsContainer">
    <app-review-list [article]=article></app-review-list>
    </div>
  </div>
  