<div *ngIf="article">

    <div class="illumineDetails">
      <h2>{{article.name | uppercase}} Details</h2>
      <div>
        <label>Title: {{article.articleName}}
        </label>
      </div>
      <div class="illumineScore">
        <span>Illumine Score: </span>
          {{article.illumineScore}}
      </div>
    </div>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>

  <div class="flex-item" id="reviewsContainer">
  <app-review-list [article]=article></app-review-list>
  </div>
  </div>
  