h3, h5 {
    padding-left: 5px;
    max-height: 10px;
}

.mat-grid-list {
    padding-left: 5px;
    min-height: 30%;
}

.mat-grid-tile {
    padding: 0px;
    min-height: 30px;
    min-height: 20%;
    overflow: scroll;
}

.textContent {
    padding-left: 5px;
    margin: 0px;
    height: 100%;
}