<!----<div *ngIf="admin && editorial">

    <h2>Editorial Metadata</h2>
    
    <div><span>id: </span>{{editorial.id}}</div>
    <div>
      <label>Editable Name:
        <span>{{editorial.name}}</span>
      </label>
    </div>
  
</div>-->

<div *ngIf="editorial"> 
  <h3>{{editorial.editorialName | uppercase}}</h3>
  <h5>by {{editorial.authorName}}</h5>

    <mat-grid-list cols="1" rowHeight="4:1">
      <mat-grid-tile>
        <div class="textContent" [innerHTML] = editorial.text></div>
      </mat-grid-tile>
  </mat-grid-list>
</div>



