<div class="header">
<h1><a href="./dashboard"><img src="{{getPathForLogo()}}"></a></h1>
  <nav>
    <a routerLink="/articles" [routerLinkActive]="'is-active'">Articles</a>
    <a routerLink="/editorials" [routerLinkActive]="'is-active'">Editorials</a>
    <a routerLink="/organizations" [routerLinkActive]="'is-active'">Organizations</a>
    <a routerLink="/reviews" [routerLinkActive]="'is-active'">Reviews</a>
    <a routerLink="/NOT_IMPLEMENTED">Contributors</a>
  </nav>
</div>
<router-outlet></router-outlet>