/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    color: #999;
    align-self: flex-start;
    display: inline-block;
    margin: -20px 0 -80px -50px;
  }

  img {
    margin: 0 0 -80px, 0;
    align-self: flex-start;
    flex-wrap: nowrap;
  }
  
  div {
    width: 80%;
  }
  
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }

  .header {
    width: 100%;
    border-style: solid;
    border-color: white white black white;
    flex-wrap: wrap;
    position: relative;
  }

  nav a {
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    background-color: white;
  }
  nav a:visited, a:link {
    color: #000000;
  }
  nav a:hover {
    color: white;
    background-color: black;
  }
  nav a.is-active {
    color: white;
    font-weight: 500;
    background-color: black;
  }

  .disclaimer {
    float: right;
    width: 100%;
    flex-wrap: nowrap;
    position: relative;
    border: 2px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
  }
  
  .disclaimerContainer {
    float: right;
    width: 40%;
    flex-wrap: nowrap;
    position: relative;
    padding: 10px
  }
  
  .disclaimerContainerMobile {
    width: 80%;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
    margin: 10px;
    align-content: center;
  }

  button {
    background-color: lightgray;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  button:hover {
    background-color: blue;
  }
/* 
  .flex-container {
    display: flex;
    width: 90%;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-flow: initial;
  }
  
  .flex-container-vertical {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-flow: initial;
    flex-direction: column;
    flex-basis: auto;
    align-content: flex-start;
  }
  
  .flex-item {
    width: 90%;
    padding: 20px;
    flex-shrink: 10;
  } */