/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
  }
  
  div {
    width: 80%;
  }
  
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }

  nav {
    border-style: solid;
    border-color: white white black white;
  }

  nav a {
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    background-color: white;
  }
  nav a:visited, a:link {
    color: #000000;
  }
  nav a:hover {
    color: white;
    background-color: black;
  }
  nav a.is-active {
    color: white;
    font-weight: 500;
    background-color: black;
  }