<form f>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" matSortActive="datePublished" matSortDirection="desc" matSortDisableClear>

  <ng-container matColumnDef="articleName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Article Name</th>
    <td mat-cell *matCellDef="let article"> {{article.articleName}} </td>
  </ng-container>

  <ng-container matColumnDef="authorName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Author Name</th>
    <td mat-cell *matCellDef="let article"> {{article.authorName}} </td>
  </ng-container>

<ng-container matColumnDef="organizationName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization Name</th>
    <td mat-cell *matCellDef="let article">{{article.organizationName}}</td>
  </ng-container>

  <ng-container matColumnDef="datePublished">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Published</th>
    <td mat-cell *matCellDef="let article"> {{article.datePublished | date : 'M/d/yyyy, h:ma'}} </td>
  </ng-container>

  <ng-container matColumnDef="illumineScore">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Illumine Score</th>
    <td mat-cell *matCellDef="let article" 
        [ngClass]="{bad: (article.illumineScore < 40), 
                    good: (article.illumineScore > 59), 
                    mediocre: (article.illumineScore > 39 && article.illumineScore < 60)}">{{article.illumineScore}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
    
<!----<ul class="articles">
    <li *ngFor="let article of articles">
      <a routerLink="/detail/{{article.id}}">
        <span class="badge">{{article.id}}</span> {{article.name}}
      </a>
      <button class="delete" title="delete article"
      (click)="delete(article)">x</button>
    </li>
  </ul> -->
  <div>
      <label>Article name:
        <input #articleName />
      </label>
      <!--TODO: add author-->
      <!-- (click) passes input value to add() and then clears the input -->
      <!----<button (click)="add(articleName.value); articleName.value=''">
        add
      </button>-->
    </div>
    </form>