h3, h5 {
    padding: 0px;
}

.mat-grid-list {
    padding: 5px;
}

.mat-grid-tile {
    padding: 0px;
    max-height: 150px;
    min-height: 30px;
    overflow: scroll;
}

.textContent {
    padding: 0px;
    margin: 0px;
}