
<div *ngIf="!isMobile" class="flex-container" id = "topLayoutContainer">
  
    <div class="flex-item" id = "articlesContainer">
      <h3 class="tableHeader">Recent Articles</h3>
      <app-article-list-summary [itemsPerPage]=[5] [displayedColumns]="['articleName', 'authorName', 'illumineScore']" class="articleSpacing"></app-article-list-summary>
    </div>
    
  <div class="flex-item" id = "editorialsContainer">
  <h3>Editorials</h3>
  <app-editorial-list></app-editorial-list>
  </div>

</div>

<div *ngIf="isMobile" class="flex-container-vertical" id="topLayoutContainer">

    <div class="flex-item" id = "articlesContainer">
      <h3 class="tableHeader">Recent Articles</h3>
      <app-article-list-summary [itemsPerPage]=[5] [displayedColumns]="['articleName', 'authorName', 'illumineScore']" class="articleSpacing"></app-article-list-summary>
    </div>
    
  <div class="flex-item" id="editorialsContainer">
  <h3>Editorials</h3>
  <app-editorial-list></app-editorial-list>
  </div>

</div>

<!--Identifies the current page as the dashboard, 
so components can run conditional logic-->
<div id="dashboardIdentifier"></div>