
<div class="flex-container" id = "topLayoutContainer">
  
    <div class="flex-item" id = "articlesContainer">
      <h3>Recent Articles</h3>
      <app-article-list [itemsPerPage]=[5] [displayedColumns]="['articleName', 'authorName', 'illumineScore']"></app-article-list>
      <app-article-search></app-article-search>
    </div>
    
  <div class="flex-item" id = "editorialsContainer">
  <h3>Editorials</h3>
  <app-editorial-list [itemsPerPage]=[5] [displayedColumns]="['editorialName', 'authorName', 'organizationName']"></app-editorial-list>
  </div>

</div>

<div class="flex-container" id = "bottomLayoutContainer">

 <div class="flex-item" id="organizationsContainer">
    <h3>Organizations</h3>
      <a *ngFor="let organization of organizations" class="col-1-4" 
      routerLink="/detail/{{organization.id}}">
        <div class="module organization">
          <h4>{{organization.name}}</h4>
        </div>
      </a>
    </div>

</div>