    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" matSortActive="datePublished" matSortDirection="desc" matSortDisableClear>

  <ng-container matColumnDef="organizationName" class="header"> 
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization Name</th>
    <td mat-cell *matCellDef="let organization" routerLink="/organizations/{{organization.id}}" class="organizationLink">{{organization.name}}</td>
  </ng-container>

  <ng-container matColumnDef="organizationScore">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="scoreHeader">Organization Score</th>
    <td mat-cell *matCellDef="let organization" 
        [ngClass]="{bad: (organization.organizationScore < 40), 
                    good: (organization.organizationScore > 59), 
                    mediocre: (organization.organizationScore > 39 && organization.organizationScore < 60)}">{{organization.organizationScore}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]=getItemsPerPage() class="paginator"></mat-paginator>
  <div>
    </div>