/* articlesComponent's private CSS styles */
 table {
    margin: 0 0 2em 0;
  }

  td {
    text-align: left;
  }

.scoreHeader {
  max-width: 30px;
}

  .mat-cell {
      padding: 5px 5px;
  }

  .mat-column-articleName {
    width: 25%;
    overflow-wrap: break-word;
  word-wrap: break-word;
  }

  .mat-column-authorName {
    width: 17%;
    overflow-wrap: break-word;
  word-wrap: break-word;
  }


  .mat-column-organizationName {
    width: 15%;
    overflow-wrap: break-word;
  word-wrap: break-word;
  }

  .mat-column-datePublished {
  width: 18%;
}

.mat-column-illumineScore {
  width: 1%;
}

.bad {
    background-color: #ffc2b3;
    text-align: center;
    padding: 10px;
    font-size: larger;
    align-self: stretch;
  }

  .mediocre {
    background-color: #ffffb3;
    text-align: center;
    padding: 10px;
    font-size: larger;
    align-self: stretch;
  }

  .good {
    background-color: #c2f0c2;
    width: 20px;
    text-align: center;
    font-size: larger;
    align-self: stretch;
  }

  .articleLink {
    word-wrap: break-word;
    hyphens: auto;
    cursor: pointer;
  }

  .paginator {
    visibility: hidden;
  }